<div class='flex flex-col justify-center items-center'>
<%= form_with(model: listing) do |form| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
        <% listing.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-4">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'w-full rounded-3xl mt-2' %>
  </div>

  <div class="field mb-4">
    <%= form.label :price %>
    <%= form.number_field :price, class: 'w-full rounded-3xl mt-2' %>
  </div>

  <div class="field mb-4">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'w-full rounded-3xl mt-2', rows: 4, cols: 30 %>
  </div>

  <% if !@listing.footage.attached? %>
    <div class="field mb-6">
      <%= form.label :footage %>
      <%= form.file_field :footage, direct_upload: true %>
    </div>
  <% end %>
  
  <div class="actions mb-10">
    <%= form.submit "Create Listing" , class: 'bg-purple-600 hover:bg-purple-800 w-full h-10 rounded-3xl text-white border border-black cursor-pointer' %>
  </div>
<% end %>
</div>