<h1>Listings</h1>

<%= link_to 'New Listing', new_listing_path %>


<% @listings.each do |listing| %>
  <h4><%= listing.name %></h4>
  <%= image_tag listing.footage, width: '400px' %>
  <br>
  <%= listing.description %>
  <p>Price: <%= "$"+number_with_precision(listing.price, precision: 2) %></p>
  <%= link_to 'View', listing %>
<% end %>
