<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= "#{@seller.first_name} #{@seller.last_name}" %>
</p>

<p>
  <strong>Type:</strong>
  <%= @listing.type_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @listing.duration %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
