<nav>
  <%= link_to "Home", root_path %>
  <% if !user_signed_in? %>
    <%= link_to "Sign in", new_user_session_path %>
    <%= link_to "Sign Up", signup_path %>
  <% else %>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
  <% end %>
  
  <% if user_signed_in? %>
    <% if current_user.profile != nil %>
      <%= link_to current_user.username.capitalize, profile_path %>
    <% else %>
      <%# TODO - Create a create profile %>
      <%= link_to current_user.username.capitalize, profile_path %>
      <p>PROFILE NOT CREATED</p>
    <% end %>
  <% end %>
</nav>