<nav>
  <%= link_to "Home", root_path %>
  <% if !user_signed_in? %>
    <%= link_to "Sign in", new_user_session_path %>
    <%= link_to "Sign Up", signup_path %>
  <% else %>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
  <% end %>
  <% if user_signed_in? %>
    <%# TODO - change link_to to the current user's profile page %>
    <%= link_to current_user.username.capitalize, user_profile_path %>
  <% end %>
</nav>