<nav class="border-2 flex justify-between py-1.5 text-sm px-2">
  <div>
    <%= link_to "Home", root_path %>
  </div>
  <div class="flex justify-between">
    <div class="pr-4">
      <% if user_signed_in? && current_user.profile != nil%>
          <%= link_to current_user.username.capitalize, profile_path, class: "hover:bg-blue-500" %>
        <% else %>
          <%= link_to current_user.username.capitalize, new_profile_path %>
      <% end %>
    </div>
    <div>
      <% if !user_signed_in? %>
        <%= link_to "Sign in/up", new_user_session_path %>
      <% else %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <% end %>
    </div>
  </div>
</nav>