<div class='sign-in-page flex justify-center items-center'>
  <div class='border rounded-3xl border-black border-opacity-25 bg-white shadow-lg sm:4/5 lg:w-2/5 flex flex-col justify-start' >
    <h2 class='text-5xl font-bold text-center mt-8 text-purple-700 '>Log in</h2>
    <div class='mx-4 flex flex-col justify-center items-center sign-in-form'>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field mb-8">
          <%= f.label :email %><br />
          <%= f.email_field :email, class: 'w-full border border-black rounded-3xl mt-2' , autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field mb-8">
          <%= f.label :password %><br />
          <%= f.password_field :password, class: 'w-full border border-black rounded-3xl mt-2', autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field mb-8">
            <%= f.check_box :remember_me, class: 'cursor-pointer' %>
            <%= f.label :remember_me, class: 'cursor-pointer' %>
          </div>
        <% end %>

        <div class="actions mb-8 ">
          <%= f.submit "Log in" , class: 'bg-purple-600 hover:bg-purple-800 w-64 h-10 rounded-3xl text-white border border-black cursor-pointer' %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>