<h1>Create Your Profile</h1>

<%= form_with(url: profile_new_path, model: @profile) do |form| %>

  <div class="field">
    <%= form.label :about_me %>
    <%= form.text_area :about_me %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>